{% extends 'base.html.twig' %}
{% block title 'Century 22' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue cher ami !</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae corporis deleniti eligendi explicabo illum, minus nam nemo nisi nostrum numquam quos, recusandae, repellendus repudiandae sapiente tenetur vel veritatis voluptas.
        </p>
    </div>

    <div class="container">

    </div>
{% endblock %}